= simple_form_for(course_request) do |f|
  .row
    .span12
      = f.error_notification

  .row
    .span6
      = f.input :season, :as => :select, :collection => [ 'Spring', 'Summer', 'Fall' ], :label => "Semester"
      = f.input :year, :as => :select, :collection => (2012...2017)
    .span6
      = f.fields_for :course_request_courses do |crc_form|
        = crc_form.association :course, :collection => Course.all.map{ |course| [ course.full_name, course.id ] }
        = crc_form.input :time, :as => :select, :collection => CourseRequestCourse.times
        = crc_form.input :day, :as => :select, :collection => FacultyCourseRequest.fall_spring_days + FacultyCourseRequest.summer_days
        = crc_form.input :rank, :as => :radio_buttons, :collection => (1..3), :item_wrapper_class => 'inline'

  .row
    .span12
      .form-actions
        = f.button :submit, "Request Courses", :class => 'btn btn-primary btn-large'
        = link_to "Cancel", courses_path, :class => 'btn btn-large'
