.page-header
  - if user_signed_in?
    - if current_user.is_student
      = link_to(new_course_request_path, :class => 'btn btn-primary') do
        %i.icon-plus.icon-white
        Request Courses
    - if current_user.is_faculty
      = link_to(new_faculty_course_request_path, :class => 'btn btn-primary') do
        %i.icon-plus.icon-white
        Request to Teach Courses
  %h1= "Courses for #{@semester}"

.row
  .span4
    = form_tag courses_path, :method => :get do
      = select_tag "year", options_for_select([ "2012", "2013", "2014", "2015"]), :id => 'year'
      %br/
      = select_tag "semester", options_for_select({ "Fall" => :fall, "Spring" => :spring }), :id => 'semester'
      %br/
      = submit_tag "View", :class => "btn btn-info"

  .span8
    %table#sorttable.table.table-bordered.tablesorter
      %thead
        %tr
          %th Identifier
          %th Name
          %th Degree Program
      %tbody
        - @courses.each do |c|
          %tr
            %td= c.identifier
            %td= c.name
            %td= c.degree_program.name
