.page-header
  %h1= "New Report by Day"

= simple_form_for(@day_report) do |f|
  .row
    .span12
      = f.input :year, :collection => [ "2012", "2013", "2014", "2015"]
      = f.input :season, :collection => CourseRequest.seasons, :label => "Semester"
      = f.input :day, :as => :select, :collection => FacultyCourseRequest.fall_spring_days + FacultyCourseRequest.summer_days
  .row
    .span12
      .form-actions
        = f.button :submit, "Run Report", :class => 'btn btn-primary btn-large'
        = link_to "Cancel", reports_path, :class => 'btn btn-large'

