= render :partial => 'reports/header', :locals => { :report_for => @day_report.day, :report => @day_report } 
.row
  .span3
    %h5 Number Courses Requested by:
    %div.well{ :style => 'font-size: 18px;' }
      %dl.dl-horizontal
        %dt Students
        %dd= @day_report.student_requests.map{ |req| req.course }.uniq.count
        %br
        %br
        %dt Faculty
        %dd= @day_report.faculty_requests.map{ |req| req.course }.uniq.count

  .span9
    %h5 Most Requested:
    %br
    .row
      .span4{ :style => 'margin-left: 60px; width: 290px;' }
        = render :partial => 'summary_table', :locals => { :title => 'Students',
          :course => @day_report.most_requested(:course, :student_requests),
          :time => @day_report.most_requested(:time, :student_requests) }
        %em Note: Multiple results indicate a tie.

      .span4{ :style => 'margin-left: 60px; width: 290px;' }
        = render :partial => 'summary_table', :locals => { :title => 'Faculty',
          :course => @day_report.most_requested(:course, :faculty_requests),
          :time => @day_report.most_requested(:time, :faculty_requests) }
%hr
.row
  .span12
    %h3 Details
    %br

.row
  .span12
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => '#students', 'data-toggle'=>'tab', :alt => 'Students', :title => 'Students'}
            %i.icon-user
            Students
        %li
          %a{:href => '#faculty', 'data-toggle'=>'tab', :alt => 'Faculty', :title => 'Faculty'}
            %i.icon-user
            Faculty
        %li
          %a{:href => '#courses', 'data-toggle'=>'tab', :alt => 'Day/Time', :title => 'Day/Time'}
            %i.icon-list-alt
            Courses
      .tab-content
        #students.tab-pane.active
          = render :partial => 'reports/user_table', :locals => { :requests => @day_report.student_requests, :id => 'students-table' }

        #faculty.tab-pane
          = render :partial => 'reports/user_table', :locals => { :requests => @day_report.faculty_requests, :id => 'faculty-table' }

        #courses.tab-pane
          .span6
          %table#courses-table.table.table-bordered.tablesorter
            %thead
              %tr
                %th{ :rowspan => 2 }
                  Course
                %th{ :colspan => 5, :style => 'border-bottom: 1px solid #DDD;' }
                  Students
                %th{ :colspan => 5, :style => 'border-bottom: 1px solid #DDD;' }
                  Faculty
              %tr{ :style => 'font-size: 11px;' }
                %th # Requests
                %th Avg. Rank
                %th Morning
                %th Afternoon
                %th Evening
                %th # Requests
                %th Avg. Rank
                %th Morning
                %th Afternoon
                %th Evening
            %tbody
              - @courses.each do |course|
                %tr
                  %td= course.identifier
                  %td= @day_report.request_counts(:course, :student_requests)[course]
                  %td= @day_report.average_course_rank('CourseRequest', course.id)
                  %td= @day_report.count_requests_by_time_and_course('CourseRequest', 'Morning', course.id)
                  %td= @day_report.count_requests_by_time_and_course('CourseRequest', 'Afternoon', course.id)
                  %td= @day_report.count_requests_by_time_and_course('CourseRequest', 'Evening', course.id)
                  %td= @day_report.request_counts(:course, :faculty_requests)[course]
                  %td= @day_report.average_course_rank('FacultyCourseRequest', course.id)
                  %td= @day_report.count_requests_by_time_and_course('FacultyCourseRequest', 'Morning', course.id)
                  %td= @day_report.count_requests_by_time_and_course('FacultyCourseRequest', 'Afternoon', course.id)
                  %td= @day_report.count_requests_by_time_and_course('FacultyCourseRequest', 'Evening', course.id)

