.page-header
  %h1= "Users"
.row
  .span12
    %table.table.table-striped
      %thead
        %th N Number
        %th Email
        %th
        %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.n_number
            %td= user.email
            %td!= user_tags(user)
            %td= link_to( 'edit', edit_admin_user_path(user), :class => 'btn btn-info btn-mini')
