.row{ :id => dom_id(course_request) }
  .span6
    %dl.dl-horizontal
      %dt
        Semester
      %dd= course_request.season
      %dt
        Year
      %dd= course_request.year
      -if course_request.for_summer?
        %dt
          Summer Term
        %dd= course_request.summer_term_preference
      %br
      %br
      %dd= link_to "Edit", edit_course_request_path(course_request), :class => 'btn btn-primary'
  .span6
    %dl.dl-horizontal
      %dt Course Release
      %dd= boolean_to_check_or_x course_request.course_release_expected
      %dt Sabbatical
      %dd= boolean_to_check_or_x course_request.sabbatical_expected
      %dt Dev Leave
      %dd= boolean_to_check_or_x course_request.dev_leave_expected

.row
  .span6
    %dl.dl-horizontal
      Rankings
      %br
      %dt Course Prefs
      %dd= course_request.course_preference_rank
      %br
      %dt Days of Week
      %dd= course_request.days_of_week_rank
      %br
      %dt Times of Day
      %dd= course_request.times_of_day_rank
      %br
      %dt Morning
      %dd= course_request.morning_rank
      %dt Afternoon
      %dd= course_request.afternoon_rank
      %dt Evening
      %dd= course_request.evening_rank
  .span6
    %dl.dl-horizontal
      %dt Days of week preference
      %dd= course_request.days_of_week_preference
