.row{ :id => dom_id(course_request) }
  .span3
    %dl.dl-horizontal
      %dt
        Semester
      %dd= course_request.season
      %dt
        Year
      %dd= course_request.year
      -if course_request.for_summer?
        %dt
          Summer Term
        %dd= course_request.summer_term_preference
      %br
      %br
      %dd= link_to "Edit", edit_faculty_course_request_path(course_request), :class => 'btn btn-primary'
  .span3
    %dl.dl-horizontal
      %dt Course Release
      %dd= boolean_to_check_or_x course_request.course_release_expected
      %dt Sabbatical
      %dd= boolean_to_check_or_x course_request.sabbatical_expected
      %dt Dev Leave
      %dd= boolean_to_check_or_x course_request.dev_leave_expected
  .span6
    - course_request.course_request_courses.each do |req|
      %dl.dl-horizontal
        %dt
          Course
        %dd= req.course.full_name
        %dt
          Time
        %dd= req.time
        %dt
          Days
        %dd= req.day
        %dt
          Rank
        %dd= req.rank
        %br

.row
  .span6
    %dl.dl-horizontal
      Rankings
      %br
      .row
        .span2
          %dt Course Prefs
          %dd= course_request.course_preference_rank
          %dt Days of Week
          %dd= course_request.days_of_week_rank
          %dt Times of Day
          %dd= course_request.times_of_day_rank
        .span2
          %dt Morning
          %dd= course_request.morning_rank
          %dt Afternoon
          %dd= course_request.afternoon_rank
          %dt Evening
          %dd= course_request.evening_rank
        .span2
          %dt Days of week preference
          %dd= course_request.days_of_week_preference

.row
  .span12
    %hr
