= simple_form_for(@faculty_course_request, :defaults => { :input_html => { :class => 'faculty-request-form' } }) do |f|
  = f.error_notification

  .form-inputs
    .row
      .span6
        = f.input :season, :as => :select, :collection => [ 'Spring', 'Summer', 'Fall' ], :label => "Semester"
        = f.input :year, :as => :select, :collection => (2012...2017)
        = f.input :summer_term_preference, :as => :select, :collection => array_for_select(FacultyCourseRequest.summer_terms), :label => 'Summer Term'
      .span6
        = f.input :course_release_expected, :label => "Course Release"
        = f.input :sabbatical_expected, :label => "Sabbatical"
        = f.input :dev_leave_expected, :label => "Fac Dev Leave"
    %hr
    .row
      .span6
        %h3 Scheduling Factor Importance
        Which factors are most important for your schedule for this semester?
        %br
        Please rank 1 (most preferred), 2 or 3 (least preferred).
        %br
        %br
        = f.input :course_preference_rank, :as => :radio_buttons, :collection => [ 1, 2, 3 ], :label => 'Course Preference'
        = f.input :days_of_week_rank, :as => :radio_buttons, :collection => [ 1, 2, 3 ], :label => 'Days of Week'
        = f.input :times_of_day_rank, :as => :radio_buttons, :collection => [ 1, 2, 3 ], :label => 'Times of Day'
      .span6
        %h3 Preferred Time of Day
        Which time of day would you prefer to teach? 
        %br
        Please rank 1 (most preferred), 2 or 3 (least preferred).
        %br
        %br
        = f.input :morning_rank, :as => :radio_buttons, :collection => [ 1, 2, 3 ], :label => 'Morning'
        = f.input :afternoon_rank, :as => :radio_buttons, :collection => [ 1, 2, 3 ], :label => 'Afternoon'
        = f.input :evening_rank, :as => :radio_buttons, :collection => [ 1, 2, 3 ], :label => 'Evening'
    %hr
    .row
      .span6
        %h3 Courses
        Please select up to 3 courses you would like to teach this semester.
        %br
        %br
        = f.fields_for :course_request_courses do |crc_form|
          = crc_form.association :course, :collection => Course.all.map{ |course| [ course.full_name, course.id ] }
          = crc_form.input :time, :as => :select, :collection => CourseRequestCourse.times
          = crc_form.input :day, :as => :select, :collection => FacultyCourseRequest.fall_spring_days + FacultyCourseRequest.summer_days
          = crc_form.input :rank, :as => :radio_buttons, :collection => (1..3), :item_wrapper_class => 'inline'
      .span6
        %h3 Courses
        Which days of the week, overall, would you prefer to teach?
        %br
        %br
        = f.input :days_of_week_preference, :collection => array_for_select(FacultyCourseRequest.fall_spring_days)

  .form-actions
    = f.button :submit, :class => "btn-primary"
