.page-header
  %h1 Edit Course

= simple_form_for([ :admin, @course]) do |f|
  .row
    .span12
      = f.input :identifier
      = f.input :name
      = f.association :degree_program, :collection => DegreeProgram.all
      = f.input :offered_odd_fall
      = f.input :offered_odd_spring
      = f.input :offered_even_fall
      = f.input :offered_even_spring
  .row
    .span12
      .form-actions
        = f.button :submit, "Edit Course", :class => 'btn btn-primary btn-large'
        = link_to "Cancel", admin_courses_path, :class => 'btn btn-large'

