%div{ :style => 'float: right;' }
  .btn-group
    = link_to '#', :class => 'btn btn-primary', 'data-toggle' => 'dropdown' do
      New Report by...
      %span.caret

    %ul.dropdown-menu
      %li= link_to 'Course', new_course_report_path
      %li= link_to 'Day', new_day_report_path
      %li= link_to 'Time', new_time_report_path
      %li= link_to 'Students', new_student_report_path
      %li= link_to 'Faculty', '#'

%h1 Reports
.row
  .span12
    %table.table.table-striped
      %thead
        %th Date
        %th Type
        %th Owner
      %tbody
        - @reports.each do |report|
          %tr
            %td= report.date_run
            %td= report.type
            %td= report.user.n_number
